---
title: Ease please?
---
<p>This LESS mix-in is designed to apply an easing pattern to traditionally arbitrary styling groups such as text size, fills,
    box sizes, etc. The mix-in accepts the following parameters.</p>
<dl>
    {{#each eases/signatures}}
        <dt>{{name}}</dt>
        <dd>{{desc}}</dd>
    {{/each}}
</dl>
<p>The following examples use {{eases/stops/length}} points evenly plotted between {{eases/range/0.}}
    and {{eases/range/1.}}. The group of points is first passed through 1:1, then interpolated with ease.</p>
{{#each eases/types}}
<figure>
    <div class="ease-graph">
        {{#each ../eases/stops}}
            <span class="ease-graph-bar {{../.}}-{{.}}">&nbsp;</span>
        {{/each}}
    </div>
    <figcaption>
        {{#compare . '==' 'ease-linear'}}
            <code>//nothing here</code>
        {{else}}
            <code>.ease({{../.}}, {{../../eases/power}}, {{../../eases/range/0.}}, {{../../eases/range/1.}});</code>
        {{/compare}}
    </figcaption>
</figure>
{{/each}}